* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-size: 20px;
   font-family: Arial, sans-serif;
}
/* Form Page start*/

#form1 {
  margin: 0 auto;
  height: 500px;
  width: 500px;
  border: 2px solid #6400c2;
}
#name {
  margin-top: 200px;
  margin-left: 150px;
  text-align: center;
  border: none;
  height: 30px;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 20px #aa4fff;
  background-color: #ffffff;
}
::placeholder {
  color: #aa4fff;
  opacity: 1; /* Firefox */
}

#btn {
  margin-top: 25px;
  margin-left: 220px;
  height: 30px;
  width: 100px;
  background-color: #9f39ff;
  border: none;
  color: white;
  border-radius: 5px;
}

#btn:hover {
    
    height: 31px;
    width: 101px;
    
  }

/* Form Page ends*/

#box {
  height: 90vw;
  width: 70vw;
  background-color: pink;
  margin: 0 auto;
  position: relative;
  border-radius: 15px;
}

img {
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 12%;

  
}

#txt {
  display: flex;
  justify-content: center;
  padding: 10% 10%;
  font-size: 5vw;
}
#yesno{
  display: flex;
  justify-content: space-around;

}




#yes{
  background-color: white;
  text-align: center;
  line-height: 10vw;
  width: 25vw;
  height: 10vw;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  position: relative;
}

#yes:hover{
  top: -2px;
  transition-duration: 2s;
  cursor: pointer;
}

#no{
  position: relative;
  background-color: white;
  text-align: center;
  line-height: 10vw;
  width: 25vw;
  height: 10vw;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
}



@media (min-width:600px) {

  
#box {
  height: 400px;
  width: 400px;
  background-color: rgb(124, 43, 255);
  margin: 0 auto;
  border-radius: 15px;
}
img {
  width: 60%;
  margin: 0 8vw;
  /* background-color: red; */
}

#txt {
  font-size: 3vw;
  /* background-color: #6400c2; */
  padding: 10px 10px;
}

  
#yes{
  position: relative;
  background-color: white;
  text-align: center;
  line-height: 5vw;
  width: 15vw;
  height: 5vw;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
}

#yes:hover{
  top: -2px;
  transition-duration: 2s;
  cursor: pointer;
}
#no{
  position: relative;
  background-color: white;
  text-align: center;
  line-height: 5vw;
  width: 15vw;
  height: 5vw;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
}




}
